* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.main {
    width: 100%;
    height: 100%;
}

nav {
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    color: white;
    font-size: 20px;
    z-index: 99;
}

ul {
    display: flex;
}

li {
    padding: 30px;
    list-style-type: none;
    cursor: pointer;
   transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

li:hover {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    transform: scale(1.3);
}

.mouse{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 100;
    transform: scale(0);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.2s;
}

.page1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(176deg, rgb(255, 166, 0), rgb(255, 94, 0));
    display: grid;
    place-items: center;
    position: relative;
}

#fanta {
    width: 40%;
    position: absolute;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#orange {
    position: absolute;
    width: 20%;
    left: 48%;
    top: 54%;
    z-index: 10;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#bg_heading {
    font-size: 20vw;
    color: white;
    font-weight: 1000;
}

#orange-half {
    position: absolute;
    width: 15%;
    left: 34%;
    top: 10%;
    z-index: 3;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#leaf {
    position: absolute;
    width: 20%;
    left: 1%;
    top: 10%;
    transform: rotate(50deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#leaf2 {
    position: absolute;
    width: 15%;
    left: 74%;
    top: 64%;
    transform: rotate(275deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#cocoLeaf {
    position: absolute;
    right: 0;
    top: 10%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(82, 28, 3);
    display: flex;
}


.left {
    width: 50%;
    height: 100%;
}

.left svg {
    margin-top: 30vh;
    margin-left: 10vh;
    width: 77%;
    transform: rotateX(50deg);
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-direction: center;
    text-align: justify;
    font-size: 15px;
    color: white;
}

.right h1 {
    text-align: left;
    font-weight: 800;
    text-shadow: 1px -1px 2px white;
    font-size: 5vw;
}

.page3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(175, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background: linear-gradient(176deg, rgb(255, 166, 0), rgb(255, 94, 0));
    overflow: hidden;
}

.card {
    width: 25%;
    height: 70%;
    position: relative;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#pepsi {
    position: absolute;
    width: 100%;
    bottom: 19%;
    left: 0%;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#page3orange1 {
    position: absolute;
    width: 70%;
    bottom: 75%;
    left:-324px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#page3orange2 {
    position: absolute;
    width: 70%;
    bottom: 75%;
    left: 389px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#CocaCola {
    position: absolute;
    width: 65%;
    bottom: 25%;
    left: 16%;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.content {
    position: absolute;
    bottom: 10%;
    margin-bottom: -25px;
}

.content h1 {
    font-size: 42px;
}

.btn {
    background-color: rgb(241, 114, 9);
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin-top: 10px;
}

.btn a {
    text-decoration: none;
    color: white;
}
